* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Body Styling */

#bucket-body {
    background-color: #90bede;
}

#achieved-body {
    background-color: #9fc490;
}


/* Header Styling */

#bucket-header {
    background-color: #335c81;
    color: white;
    font-family: 'Playfair Display', serif;
}

#achieved-header {
    background-color: #1b512d;
    color: white;
    font-family: 'Playfair Display', serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    padding: 10px 0px;
}

h2,
h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: 'Libre Franklin', sans-serif;
}


/* Navigation Styles */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 105px;
    height: 110px;
    padding: 30px 10px;
}

nav img:hover {
    transition: all .4s ease-in-out;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


/* Form styling */

form {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
}

#inputForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#addBucket {
    width: 400px;
    padding-left: 5px;
}

#submitBtn {
    width: 150px;
    background-color: #335c81;
    color: white;
}

#submitBtn:hover {
    background-color: black;
}

button {
    width: 100px;
    height: 50px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    border: solid 1px black;
    background-color: white;
}

#achieved {
    background-color: #9fc490;
    border: solid 1px black;
    margin: auto;
    align-items: center;
}

#deletebtn {
    /* margin: 10ox 0 10px 50px; */
}

button:hover {
    background-color: black;
    color: white;
}

#achieved:hover {
    background-color: #1b512d;
}


/* List Item styling */

ul {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    font-size: 20px;
    margin: 25px 0 10px 100px;
}

li {
    margin: 25px 0 20px 0px;
    font-size: 30px;
    text-shadow: 10px;
}